<div class="container-fluid mainBody justify-content-center">
    <div class="row justify-content-center">
        <div class="col-6 p-1">
            <app-login (closeAll)="closeAll()"></app-login>
        </div>
        <div class="col-12 p-1" *ngIf="(this.auth.user$ | async) != null">
            <app-main-todoes (showForm)="showForm($event)" (updateModel)="updateModel($event)"></app-main-todoes>
        </div>
        <div class="col-12 p-1" *ngIf="form">
            <app-todo-form [model]="model" [toDo]="toDo" (closeForm)="hideForm()"></app-todo-form>
        </div>

    </div>
</div>